body {
  margin: 0;
  font-family: sans-serif;
  background: #0f172a;
  color: white;
}

.app {
  padding: 16px;
}

h1 {
  text-align: center;
}

textarea {
  width: 100%;
  height: 120px;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  border: none;
  outline: none;
}

button {
  width: 100%;
  margin-top: 12px;
  padding: 12px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  background: #22c55e;
  color: black;
  font-weight: bold;
}

pre {
  margin-top: 16px;
  background: #020617;
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
  white-space: pre-wrap;
}
