/* استایل کلی */
body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
    text-align: center;
}

#login {
    margin-top: 50px;
}

button {
    background-color: #45a049;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #3a8a39;
}

.hidden {
    display: none;
}

h1, h2 {
    color: #333;
}
